: root {
  --primary-color: #192dff;
  --secondary-color: #034aff;
}
body {
  font-family: sans-serif;
  background: #f64dff;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #192dff;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
}
