: root {
  --primary-color: #192dff;
  --secondary-color: #034aff;
  --third-color: #;
}
body {
  font-family: sans-serif;
  background: #b07d73;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.header,
.but {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.but {
  background: #034aff;
  width: 250px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.input-box {
  width: 250px;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
}
